<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yifasilverguard.dao.FamilyBindDAO">
    <resultMap id="BaseResultMap" type="com.yifasilverguard.dao.FamilyBindDAO">
        <id column="id" property="id"/>
        <result column="family_user_id" property="familyUserId"/>




    </resultMap>

    <!--删除老人档案-->
    <update id="deleteByFamilyAndElder">
        UPDATE family_bind
        SET status = 0
        WHERE family_user_id = #{familyUserId}
          AND elder_id = #{elderId}
          AND status = 1
    </update>


</mapper>