<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiguardsilverfa.dao.MedicineInfoDAO">
    <resultMap id="BaseResultMap" type="com.yiguardsilverfa.entity.MedicineInfo">
        <id column="id" property="id"/>
        <result column="elder_id" property="elderId"/>
        <result column="medicine_name" property="medicineName"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="type" property="type"/>
        <result column="quantity" property="quantity"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="insertMedicine" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO medicine_info (elder_id, medicine_name, expiry_date, type, quantity, remark, create_time, update_time,status)
        VALUES (#{elderId}, #{medicineName}, #{expiryDate}, #{type}, #{quantity}, #{remark}, NOW(), NOW(), #{status})
    </insert>

    <update id="updateMedicineById">
        UPDATE medicine_info
        <set>
            <if test="medicineName != null">medicine_name = #{medicineName},</if>
            <if test="expiryDate != null">expiry_date = #{expiryDate},</if>
            <if test="type != null">type = #{type},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!--逻辑删除药品信息-->
    <update id="softdeleteById">
        update medicine_info
        set status = 0, update_time = NOW()
        where id = #{id} AND status = 1
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM medicine_info WHERE id = #{id} and status = 1
    </select>

    <select id="selectByElderId" resultMap="BaseResultMap">
        SELECT * FROM medicine_info WHERE elder_id = #{elderId} AND status = 1
    </select>
    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT * FROM medicine_info
        <where>
            <if test="elderIds != null and elderIds.size() > 0">
                AND elder_id IN
                <foreach collection="elderIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="medicineName != null and medicineName != ''">
                AND medicine_name LIKE CONCAT('%', #{medicineName}, '%')
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>